<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You!</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <img src="/stickers/cat.png" class="sticker" alt="sticker">
    <h2>✨ Thanks, <%= name %>! ✨</h2>
    <p>Your entry has been added to my memory vault. 💕</p>
    <a href="/">Add Another response!</a>
  </div>
</body>
</html>
